<div class="container" id="historyTable">
    <el-form :inline="true" :model="form" label-position="left" label-width="90px" ref="form">
        <el-form-item label="房间号" label-width="60px">
            <el-input
                    clearable
                    placeholder="请输入房间号"
                    v-model="form.roomId">
            </el-input>
        </el-form-item>
        <el-form-item label="bvId" label-width="50px">
            <el-input
                    clearable
                    v-model="form.bvId">
            </el-input>
        </el-form-item>
        <el-form-item label="是否上传">
            <el-select @change="initTable" clearable placeholder="请选择" v-model="form.upload">
                <el-option label="全部" value=""></el-option>
                <el-option label="是" value="true"></el-option>
                <el-option label="否" value="false"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="是否录制中">
            <el-select @change="initTable" clearable placeholder="请选择" v-model="form.recording">
                <el-option label="全部" value=""></el-option>
                <el-option label="是" value="true"></el-option>
                <el-option label="否" value="false"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="是否已发布">
            <el-select @change="initTable" clearable placeholder="请选择" v-model="form.publish">
                <el-option label="全部" value=""></el-option>
                <el-option label="是" value="true"></el-option>
                <el-option label="否" value="false"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="结束时间">
            <el-date-picker
                    placeholder="开始时间"
                    type="datetime"
                    value-format="yyyy-MM-dd[T]HH:mm:ss.sss[Z]"
                    v-model="form.from">
            </el-date-picker>
            <el-date-picker
                    placeholder="结束时间"
                    type="datetime"
                    value-format="yyyy-MM-dd[T]HH:mm:ss.sss[Z]"
                    v-model="form.to">
            </el-date-picker>
        </el-form-item>
        <el-form-item>
            <el-button @click="initTable" type="primary">查询</el-button>
        </el-form-item>
    </el-form>
    <el-table
            v-loading="loading"
            :data="tableData"
            height="calc(100vh - 230px )"
            style="width: 100%">
        <el-table-column
                label="id"
                prop="id"
                width="60">
        </el-table-column>
        <el-table-column
                label="主播名"
                prop="roomName"
                width="80">
        </el-table-column>
        <el-table-column
                label="bv号"
                prop="bvId"
                width="120">
        </el-table-column>
        <el-table-column
                label="标题"
                prop="title"
                width="120">
        </el-table-column>
        <el-table-column
                label="文件大小"
                prop="fileSize"
                width="100">
            <template slot-scope="scope">
                {{(scope.row.fileSize/1024/1024/1024).toFixed(2)}}(GB)
            </template>
        </el-table-column>
        <el-table-column
                label="视频总时长"
                prop="partDuration"
                width="120">
            <template slot-scope="scope">
                {{Math.floor(scope.row.partDuration/60/60)}}小时{{((scope.row.partDuration/60)%60).toFixed(0)}}分钟
            </template>
        </el-table-column>
        <el-table-column
                label="分p数量"
                prop="partCount"
                width="80">
        </el-table-column>
        <el-table-column
                label="录制中的分p数量"
                prop="recordPartCount"
                width="80">
        </el-table-column>
        <el-table-column
                label="已上传的分p数量"
                prop="uploadPartCount"
                width="80">
        </el-table-column>
        <el-table-column
                label="弹幕数量"
                prop="msgCount"
                width="80">
        </el-table-column>
        <el-table-column
                label="发送成功的弹幕数量"
                prop="successMsgCount"
                width="80">
        </el-table-column>
        <el-table-column
                label="录制中"
                prop="recording"
                width="100">
            <template slot-scope="scope">
                <el-button circle class="el-icon-check" type="success" v-if="scope.row.recording"></el-button>
                <el-button circle class="el-icon-close" type="danger" v-if="!scope.row.recording"></el-button>
            </template>
        </el-table-column>
        <el-table-column
                label="是否上传"
                prop="upload"
                width="100">
            <template slot-scope="scope">
                <el-button circle class="el-icon-check" type="success" v-if="scope.row.upload"></el-button>
                <el-button circle class="el-icon-close" type="danger" v-if="!scope.row.upload"></el-button>
            </template>
        </el-table-column>
        <el-table-column
                label="是否发布成功"
                prop="publish"
                width="100">
            <template slot-scope="scope">
                <el-button circle class="el-icon-check" type="success" v-if="scope.row.publish"></el-button>
                <el-button circle class="el-icon-close" type="danger" v-if="!scope.row.publish"></el-button>
            </template>
        </el-table-column>
        <el-table-column
                label="是否审核通过"
                prop="code"
                width="100">
            <template slot-scope="scope">
                <el-button circle class="el-icon-check" type="success" v-if="scope.row.code == 0"></el-button>
                <el-button circle class="el-icon-close" type="danger" v-if="scope.row.code != 0"></el-button>
            </template>
        </el-table-column>
        <el-table-column
                label="开始时间"
                prop="startTime"
                width="170">
        </el-table-column>
        <el-table-column
                label="结束时间"
                prop="endTime"
                width="170">
        </el-table-column>
        <el-table-column label="操作"
                         width="250">
            <template slot-scope="scope">
                <el-button
                        @click="handleEdit(scope.$index, scope.row)" size="mini"
                        type="primary">编辑
                </el-button>
                <el-popconfirm
                        @confirm="rePublish(scope.row.id)"
                        title="确定重新上传转码失败部分吗？">
                    <el-tooltip class="item" content="会重新上传转码失败的分p" effect="dark"
                                placement="top" slot="reference">
                        <el-button
                                size="mini"
                                type="danger">转码失败修复
                        </el-button>
                    </el-tooltip>
                </el-popconfirm>
                <!--                <el-button-->
                <!--                        @click="uploadEdit(scope.$index, scope.row)" size="mini"-->
                <!--                        type="primary">云剪辑-->
                <!--                </el-button>-->
                <el-popover
                        placement="right"
                        width="400"
                        trigger="click">
                    <el-row type="flex" justify="space-around">
                        <el-col :span="6">
                            <el-popconfirm
                                    @confirm="updatePartStatus(scope.row.id)"
                                    title="确定结束分p录制状态吗？">
                                <el-tooltip slot="reference" class="item" effect="dark"
                                            content="把分p状态全部重置为录制结束，因为未录制结束无法上传无法投稿"
                                            placement="top">
                                    <el-button size="mini"
                                               type="danger">结束分p录制状态
                                    </el-button>
                                </el-tooltip>
                            </el-popconfirm>
                        </el-col>
                        <el-col :span="6">
                            <el-popconfirm
                                    @confirm="touchPublish(scope.row.id)"
                                    title="确定触发发布事件吗？">
                                <el-tooltip slot="reference" class="item" effect="dark"
                                            content="会上传未上传完成的分p然后发布，如果状态为已发布则无效"
                                            placement="top">
                                    <el-button size="mini"
                                               type="danger">触发发布事件
                                    </el-button>
                                </el-tooltip>
                            </el-popconfirm>
                        </el-col>
                    </el-row>
                    <el-row justify="space-around" type="flex">
                        <el-col :span="6">

                            <el-popconfirm
                                    @confirm="updatePublishStatus(scope.row.id)"
                                    title="确定重置为未上传发布吗？">
                                <el-tooltip class="item"
                                            content="把状态修改为未发布,分p全部未上传状态,重置后点击触发发布事件会重新投稿"
                                            effect="dark"
                                            placement="top"
                                            slot="reference">
                                    <el-button size="mini"
                                               type="danger">重置为未上传发布
                                    </el-button>
                                </el-tooltip>
                            </el-popconfirm>
                        </el-col>
                        <el-col :span="5">
                            <el-popconfirm
                                    @confirm="reloadHistoryMsg(scope.row.id)"
                                    title="确定重新加载弹幕吗？">
                                <el-tooltip class="item" content="会重新按设置的弹幕规则加载弹幕，并且把弹幕都重置从未发送" effect="dark"
                                            placement="top" slot="reference">
                                    <el-button size="mini"
                                               type="danger">重新加载弹幕
                                    </el-button>
                                </el-tooltip>
                            </el-popconfirm>
                        </el-col>
                        <el-col :span="5">
                            <el-popconfirm
                                    @confirm="deleteHistoryMsg(scope.row.id)"
                                    title="确定删除弹幕吗？">
                                <el-button slot="reference" size="mini"
                                           type="danger">删除弹幕
                                </el-button>
                            </el-popconfirm>
                        </el-col>
                    </el-row>
                    <el-button slot="reference" size="mini" type="primary">更多</el-button>
                </el-popover>
                <el-popconfirm
                        @confirm="deleteHistory(scope.row.id)"
                        title="确定删除吗？会同时删除录制文件">
                    <el-button slot="reference" size="mini"
                               type="danger">删除
                    </el-button>
                </el-popconfirm>
            </template>
        </el-table-column>
    </el-table>
    <template>
        <div class="block">
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :page-sizes="[5, 10, 25, 50, 100]"
                    :page-size=5
                    layout="total, sizes, prev, pager, next, jumper"
                    :total=total>
            </el-pagination>
        </div>
    </template>
    <el-dialog :visible.sync="editDialogFormVisible" title="用户信息">
        <el-form :model="history">
            <el-form-item label="是否上传" label-width="80px">
                <el-select placeholder="请选择" v-model="history.upload">
                    <el-option label="是" :value="true"></el-option>
                    <el-option label="否" :value="false"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="是否录制中" label-width="90px">
                <el-select placeholder="请选择" v-model="history.recording">
                    <el-option label="是" :value="true"></el-option>
                    <el-option label="否" :value="false"></el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <div class="dialog-footer" slot="footer">
            <el-button @click="editDialogFormVisible = false">取 消</el-button>
            <el-button @click="updateHistory()" type="primary">确 定</el-button>
        </div>
    </el-dialog>

    <!--    <el-dialog :visible.sync="uploadEditDialogFormVisible" title="上传到云剪辑">-->
    <!--        <el-select v-model="uploadEditPartId" placeholder="请选择">-->
    <!--            <el-option-->
    <!--                    v-for="item in partData"-->
    <!--                    :key="item.id"-->
    <!--                    :label="item.title"-->
    <!--                    :value="item.id">-->
    <!--            </el-option>-->
    <!--        </el-select>-->
    <!--        <div class="dialog-footer" slot="footer">-->
    <!--            <el-button @click="uploadEditDialogFormVisible = false">取 消</el-button>-->
    <!--            <el-button @click="uploadEditPart();uploadEditDialogFormVisible = false" type="primary">确 定</el-button>-->
    <!--        </div>-->
    <!--    </el-dialog>-->
</div>
<script>
    new Vue({
        el: '#historyTable',
        data: {
            formLabelWidth: '150px',
            tableData: [],
            total: 0,
            partData: [],
            editDialogFormVisible: false,
            uploadEditDialogFormVisible: false,
            form: {},
            history:{},
            uploadEditPartId:null,
            loading: false
        },
        methods: {
            handleEdit: function (index, row) {
                this.history = row;
                this.editDialogFormVisible = true;
            },
            uploadEdit: function (index, row) {
                this.uploadEditPartId = null;
                let _this = this;
                this.history = row;
                this.uploadEditDialogFormVisible = true;
                $.ajax({
                    url: '/part/list/'+row.id,
                    contentType: 'application/json;charset=utf-8',
                    type: 'post',
                    dataType: 'json',
                    success: function (data) {
                        console.log(data)
                        _this.partData = data;
                    }
                });
            },
            handleSizeChange(val) {
                this.form.pageSize=val;
                this.initTable();
            },
            handleCurrentChange(val) {
                this.form.current=val;
                this.initTable();
            },
            initTable: function () {
                this.loading = true;
                let _this = this;
                $.ajax({
                    url: '/history/list',
                    contentType: 'application/json;charset=utf-8',
                    type: 'post',
                    data: JSON.stringify(_this.form),
                    dataType: 'json',
                    success: function (data) {
                        _this.tableData = data.data;
                        _this.total = data.total;
                        _this.loading = false;
                    },
                    error: function () {
                        _this.loading = false;
                    }
                });
            },
            updateHistory: function () {
                let _this = this;
                $.ajax({
                    url: '/history/update',
                    contentType: 'application/json;charset=utf-8',
                    type: 'post',
                    data: JSON.stringify(_this.history),
                    dataType: 'json',
                    success: function (data) {
                        _this.$message({
                            message: data.msg,
                            type: data.type
                        });
                        _this.initTable();
                    }
                });
            },
            uploadEditPart: function () {
                let _this = this;
                $.ajax({
                    url: '/part/uploadEditor/' + this.uploadEditPartId,
                    contentType: 'application/json;charset=utf-8',
                    type: 'get',
                    success: function (data) {
                        _this.$message({
                            message: data.msg,
                            type: data.type
                        });
                        _this.initTable();
                    }
                });
            },
            updatePartStatus: function (id) {
                let _this = this;
                $.ajax({
                    url: '/history/updatePartStatus/' + id,
                    contentType: 'application/json;charset=utf-8',
                    type: 'get',
                    dataType: 'json',
                    success: function (data) {
                        _this.$message({
                            message: data.msg,
                            type: data.type
                        });
                        _this.initTable();
                    }
                });
            },
            updatePublishStatus: function (id) {
                let _this = this;
                $.ajax({
                    url: '/history/updatePublishStatus/' + id,
                    contentType: 'application/json;charset=utf-8',
                    type: 'get',
                    dataType: 'json',
                    success: function (data) {
                        _this.$message({
                            message: data.msg,
                            type: data.type
                        });
                        _this.initTable();
                    }
                });
            },
            touchPublish: function (id) {
                let _this = this;
                $.ajax({
                    url: '/history/touchPublish/' + id,
                    contentType: 'application/json;charset=utf-8',
                    type: 'get',
                    dataType: 'json',
                    success: function (data) {
                        _this.$message({
                            message: data.msg,
                            type: data.type
                        });
                        _this.initTable();
                    }
                });
            },
            rePublish: function (id) {
                let _this = this;
                $.ajax({
                    url: '/history/rePublish/' + id,
                    contentType: 'application/json;charset=utf-8',
                    type: 'get',
                    dataType: 'json',
                    success: function (data) {
                        _this.$message({
                            message: data.msg,
                            type: data.type
                        });
                        _this.initTable();
                    }
                });
            },
            deleteHistory: function (id) {
                let _this = this;
                $.ajax({
                    url: '/history/delete/' + id,
                    contentType: 'application/json;charset=utf-8',
                    type: 'get',
                    dataType: 'json',
                    success: function (data) {
                        _this.$message({
                            message: data.msg,
                            type: data.type
                        });
                        _this.initTable();
                    }
                });
            },
            deleteHistoryMsg: function (id) {
                let _this = this;
                $.ajax({
                    url: '/history/deleteMsg/' + id,
                    contentType: 'application/json;charset=utf-8',
                    type: 'get',
                    dataType: 'json',
                    success: function (data) {
                        _this.$message({
                            message: data.msg,
                            type: data.type
                        });
                        _this.initTable();
                    }
                });
            },
            reloadHistoryMsg: function (id) {
                let _this = this;
                $.ajax({
                    url: '/history/reloadMsg/' + id,
                    contentType: 'application/json;charset=utf-8',
                    type: 'get',
                    dataType: 'json',
                    success: function (data) {
                        _this.$message({
                            message: data.msg,
                            type: data.type
                        });
                        _this.initTable();
                    }
                });
            },
        },
        created: function created() {
            this.initTable();
        }
    });
</script>
<style>
    .el-row {
        margin-bottom: 10px;

    &
    :last-child {
        margin-bottom: 0;
    }

    }
</style>