<div class="container" id="userTable">
    <el-button @click="getLoginImage();dialogLoginVisible = true" type="primary">登录</el-button>
    <el-table
            v-loading="loading"
            :data="tableData"
            height="calc(100vh - 150px )"
            style="width: 100%">
        <el-table-column
                label="用户id"
                prop="uid"
                width="120">
        </el-table-column>
        <el-table-column
                label="昵称"
                prop="uname"
                width="120">
        </el-table-column>
        <el-table-column
                label="是否登录"
                prop="login"
                width="120">
            <template slot-scope="scope">
                <el-button circle class="el-icon-check" type="success" v-if="scope.row.login"></el-button>
                <el-button circle class="el-icon-close" type="danger" v-if="!scope.row.login"></el-button>
            </template>
        </el-table-column>
        <el-table-column
                label="发送弹幕"
                prop="enable"
                width="120">
            <template slot-scope="scope">
                <el-button circle class="el-icon-check" type="success" v-if="scope.row.enable"></el-button>
                <el-button circle class="el-icon-close" type="danger" v-if="!scope.row.enable"></el-button>
            </template>
        </el-table-column>
        <el-table-column
                label="更新时间"
                prop="updateTime"
                width="220">
        </el-table-column>
        <el-table-column label="操作"
                         width="180">
            <template slot-scope="scope">
                <el-button
                        @click="handleEdit(scope.$index, scope.row)" size="mini"
                        type="primary">编辑
                </el-button>
                <el-popconfirm
                        @confirm="deleteUser(scope.row.id)"
                        title="确定删除吗？">
                    <el-button slot="reference" size="mini"
                               type="danger">删除
                    </el-button>
                </el-popconfirm>
            </template>
        </el-table-column>
    </el-table>

    <el-dialog :visible.sync="dialogLoginVisible" title="登录">
        <div class="dialog-footer" slot="footer">

            <el-row class="row-bg" justify="center" type="flex">
                <el-col :span="10">
                    <span>登录成功会请自行刷新二维码(有效期60秒)</span>
                </el-col>
            </el-row>

            <el-row class="row-bg" justify="center" type="flex">
                <el-col :span="6">
                    <el-image
                            :src="'data:image/png;base64,' + image" fit="fill"
                            justify="center"
                            style="width: 250px; height: 250px"></el-image>
                </el-col>
                <el-col :span="3"></el-col>
            </el-row>

            <el-button @click="getLoginImage();initTable();" type="primary">刷新</el-button>
            <el-button @click="dialogLoginVisible = false;initTable();">关闭</el-button>
        </div>
    </el-dialog>

    <el-dialog :visible.sync="dialogFormVisible" title="用户信息">
        <el-form :model="user">
            <el-form-item :label-width="formLabelWidth" label="是否启用弹幕发送">
                <el-select placeholder="请选择" v-model="user.enable">
                    <el-option label="是" :value="true"></el-option>
                    <el-option label="否" :value="false"></el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <div class="dialog-footer" slot="footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button @click="updateUser()" type="primary">确 定</el-button>
        </div>
    </el-dialog>
</div>
<script>
    new Vue({
        el: '#userTable',
        data: {
            formLabelWidth: '150px',
            dialogFormVisible: false,
            dialogLoginVisible: false,
            tableData: [],
            user: {},
            image: '',
            loading:false
        },
        methods: {
            initTable: function () {
                let _this = this;
                _this.loading = true;
                $.ajax({
                    url: '/biliUser/list',
                    type: 'get',
                    dataType: 'json',
                    success: function (data) {
                        _this.tableData = data;
                        _this.loading = false;
                    },
                    error:function () {
                        _this.loading = false;
                    }
                });
            },
            getLoginImage: function () {
                let _this = this;
                $.ajax({
                    url: '/biliUser/login',
                    type: 'get',
                    success: function (data) {
                        _this.image = data;
                    }
                });
            },
            handleEdit: function (index, row) {
                this.user = row;
                this.dialogFormVisible = true;
            },
            updateUser: function () {
                let _this = this;
                $.ajax({
                    url: '/biliUser/update',
                    contentType: 'application/json;charset=utf-8',
                    type: 'post',
                    data: JSON.stringify(_this.user),
                    dataType: 'json',
                    success: function (data) {
                        _this.dialogFormVisible = false;
                    }
                });
            },
            deleteUser: function (id) {
                let _this = this;
                $.ajax({
                    url: '/biliUser/delete/' + id,
                    contentType: 'application/json;charset=utf-8',
                    type: 'get',
                    dataType: 'json',
                    success: function (data) {
                        _this.$message({
                            message: data.msg,
                            type: data.type
                        });
                        _this.initTable();
                    }
                });
            },
        },
        created: function created() {
            this.initTable();
        }
    });
</script>